body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Top Navbar */
.navbar {
    background: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.menu a:hover {
    text-decoration: underline;
}

/* Main Content */
.content {
    padding: 20px;
    min-height: 80vh;
    background-color: rgb(113, 27, 30);
}

/* Footer */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #b48181;
    padding: 20px;
    flex: 1;
    border-radius: 5px;
}